.image {
    margin-left: 100px;
}
.container{
  padding:30px;
}
.whatWeSection{
  background-color: #f8fafc;
  }
  
  .whatWeSection button{
      padding: 15px 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  color: white;
  background-color:#36a2cb;
  border: 0;
  cursor: pointer;
  text-align: center;
  }
  .whatWeSection .card{
  border-radius: .8rem; 
  }
.whatWeSection .card{
  border-radius: .8rem; 
  }
  .whatWeSection .card .card-body a{
    color: #3ecfe6;
    font-size: 14px;
}
.whatWeSection .card .card-body a:hover{
  text-decoration: none;
  }
  .whatWeSection .row .card .card-body .card-title{
    margin-bottom: 5px;
    font-size: 17px;
    }
    .whatWeSection    .card{
      box-shadow: 0 0 5px rgba(0,0,0,.02), 0 5px 22px -6px rgba(0,0,0,.1), 0 -12px 35px -19px rgba(0,0,0,.2);
      transition: all .8s ease;
      }
      .whatWeSection .card:hover{
        transform: scale(1.05) translateY(-4px);
        box-shadow: 0 0 1px rgba(0,0,0,.03), 0 8px 26px -4px rgba(0,0,0,.1), 0 -18px 35px -19px rgba(0,0,0,.2);
        transition: all .4s ease;
        }
        .whatWeSection .card p:nth-last-of-type(2){
          color: #738a94;
          font-size: 14px;
          }
          .whatWeSection .card p:nth-last-of-type(2){
            margin-bottom: 5px;
             }        